.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.title {
  width: 100%;
  height: 400px;
  background-image: url("./1.svg");
  background-color: #ffcf10;
  background-size: contain;
  background-repeat: no-repeat;
}

.titleMessage {
  margin-top: 128px;
  margin-left: 10px;
  margin-bottom: 17px;
}

.titleSummary {
  font-size: 1.2rem;
}

.login {
  width: 100%;
  height: 100%;
  background-color: #2b2d6e;
  background-image: url("./2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;

  position: relative;
}

.loginImage1 {
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  margin-top: 80px;
  padding-left: 160px;
  display: flex;
}

.image1 {
  height: 500px;
  width: 500px;
  background-image: url("./3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.imageText1 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginImage2 {
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  padding-right: 100px;
  display: flex;
}

.image2 {
  height: 500px;
  width: 500px;
  background-image: url("./3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.imageText2 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  margin-top: 70px;
  font-size: 1.7rem;
  color: white;
}

.head {
  width: 100%;
  font-size: 35px;
  font-weight: 800;
  background-color: white;
  padding-top: 100px;
}

.btnBox {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 30px;
}
.signUpBtn {
  width: 170px;
  height: 40px;
  color: white;
  padding: 5px;
  background-color: rgb(243, 136, 6);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket {
  height: 100px;
  width: 100px;
  background-image: url("./5.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 210px;
  left: 130px;
}

.robot {
  height: 100px;
  width: 100px;
  background-image: url("./6.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5px;
  right: 40px;
}
