.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 272px;
  width: 100%;

  /* position: fixed; */
  /* bottom: 0px; */

  background-color: rgb(36, 39, 41);
}
