.App {
  text-align: center;
  width: 100%;
  height: 100%;
  /* height: 3000px; */

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
}

.header {
  border-top: 3px solid rgb(244, 128, 36);
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(250, 250, 251);

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

  /* position: absolute; */
  /* top: 0px; */

  z-index: 100;

  position: fixed;
  top: 0px;
}

.main {
  margin-top: 47px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center_content {
  /* width: 751px; */
  width: 100%;
  min-height: 90vh;
  /* height: 100%; */

  border-left: 1px solid rgb(214, 217, 220);
}

.main_content {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;

  max-width: 1264px;
  width: 1264px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.right_sidebar {
  margin-left: 24px;
  margin-bottom: 15px;

  background-color: yellow;

  margin-top: 50px;
  min-width: 300px;
  width: 300px;
  height: 100px;
}

.temp {
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
}

.left_content {
  /* min-width: 164px; */
  min-width: 164px;
  height: 100px;
  /* overflow: auto; */
  /* min-height: 100%; */
}
